#tickers-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.stock-box{
    width: 200px;
    height: 200px; /* Corrected height */
    border: 1px solid #333;
    margin: 10px;
    padding: 15px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, box-shadow 0.3s;
    border-radius: 5px;
}

.stock-box:hover {
    background-color: #728aa1;
    color: white !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.452);
}

.dark-red{
    color: #e20101;
}

.red{
    color: #e77676;
}
.gray{
    color: #b3abab;
}
.dark-green{
    color: #018c01;
}
.green{
    color: #aaedaa;
}

#tickers-grid{
    display: flex;
    flex-wrap: wrap;
}

.red-flash{
    transition: background-color 1s;
    background-color: #ffcccc !important;
}
.green-flash{
    transition: background-color 1s;
    background-color: #ccffcc !important;
}
.gray-flash{
    transition: background-color 1s;
    background-color: #a59f9f !important;
}