<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Including jQuery locally -->
    <script src="{{ url_for('static', filename='code.jquery.com_jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="add-ticker-form">
        <input type="text" id="new-ticker" placeholder="Add Ticker" required>
        <button type="submit">Add</button>
    </form>
    <p id="timer">Next upddate in <span id="counter"></span> seconds.</p>
    <div id="tickers-grid"></div>
</body>
</html>